<!-- Displaying error messages and success messages to the user -->

<%- include('header.ejs') %>
<div class="status"> 
  <h3><%=message%></h3>
  <a href="/">Go back</a>
</div>
<%- include('footer.ejs') %>
